.accident {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #1c2131;

  .accident-icon__container {
    flex-basis: 20%;
    max-width: 20%;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 1em;
    
    ion-icon {
      width: 2em;
      height: 2em;
    }
  }

  .accident-details__name {
    font-weight: 700;
    font-size: 1.125em;
  }

  .accident-details__date {
    color: var(--ion-color-light-tint)
  }
}

.accidents__no-accidents {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  align-items: center;
  min-height: 400px;
}