.login-page {
  background-image: url('../../assets/map.jpg');
  background-size: cover;
  background-position: fixed;
}

.login-page__logo-container {
  margin-top: 15px;
  margin-bottom: 35px;
}

.login-page__logo {
  max-width: 135px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login-page__app-name {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: .2em;
}

.login-page__form {
  padding-left: 1em !important;
  padding-right: 1em !important;

  .item {
    border-bottom: 1px solid #ddd;

    &.item-has-focus {
      border-bottom-color: transparent;
    }
  }

  .login-form__buttons-container {
    margin-top: 1.5em;
  }

  .login-form__button:not(:first-child) {
    margin-top: 1em;
  }
}

ion-content {
  --background: transparent;
}

ion-item {
  --background: transparent;
}


.login-form__social-login {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #ddd;
  padding-left: 1em; 
  padding-right: 1em;
}

.google-button {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
  background-color:var(--ion-color-secondary);
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: .02em;

  img {
    margin-right: 1em;
  }

}

.facebook-button {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
  background-color:var(--ion-color-primary);
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: .02em;
  margin-top: 1em;

  ion-icon {
    width: 46px;
    height: 46px;
    color: #fff;
    margin-right: 1em;

    svg {
      width: 100%;
    }
  }
}