<ion-content class='home'>
  <div class="map-container" id="map"></div>
  <div class="selected-marker" *ngIf="selectedMarker">
    <p>
      {{selectedMarker.title}}
    </p>
    <p>
      <small> {{selectedMarker.date | momentDate}} </small>
    </p>
    <ion-button (click)="goToDetails()">View More</ion-button>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf='user'>
    <ion-fab-button (click)="goToWarning()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
